.action {
  display: flex;
  align-items: center;
  cursor: pointer;

  .input {
    display: none;
  }

  .slider {
    position: relative;
    width: 2.25rem;
    height: 1.25rem;
    background-color: #ccc;
    border-radius: 1.25rem;
    transition: 0.4s;
    margin-right: 0.5rem;

    &:before {
      position: absolute;
      content: "";
      height: 1rem;
      width: 1rem;
      left: 0.1rem;
      bottom: 0.1rem;
      background-color: white;
      border-radius: 50%;
      transition: 0.4s;
    }
  }

  .input:checked + .slider {
    background-color: var(--primary-color);
  }

  .input:checked + .slider:before {
    transform: translateX(1rem);
  }

  .name {
    font-size: 0.9rem;
    color: #4b5563;
  }
}
