.action {
  display: flex;
  align-items: center;
  cursor: pointer;

  .input {
    display: none;
  }

  .slider {
    position: relative;
    width: 2.5rem;
    height: 1.25rem;
    background-color: var(--border-color);
    border-radius: 1.25rem;
    transition: var(--transition);
    margin-right: 0.75rem;

    &:before {
      position: absolute;
      content: "";
      height: 1rem;
      width: 1rem;
      left: 0.125rem;
      bottom: 0.125rem;
      background-color: var(--card-bg);
      border-radius: 50%;
      transition: var(--transition);
    }
  }

  .input:checked + .slider {
    background-color: var(--primary-color);
  }

  .input:checked + .slider:before {
    transform: translateX(1.25rem);
  }

  .name {
    font-size: 0.875rem;
    color: var(--text-color);
    transition: var(--transition);
  }

  &:hover .name {
    color: var(--primary-color);
  }
}
