.operations {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex: 0 0 30%;
  padding: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.05);
  overflow-y: auto;

  p {
    display: inline;
    color: #07a2d2;
    font-size: 2.5rem;
    cursor: default;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: capitalize;
    text-shadow: 0.06rem 0.06rem 0.1rem rgba(0, 0, 0, 0.1);
  }

  p:first-child {
    display: inline;
    color: #1860ab;
    &::before {
      content: "•";
      font-size: 2rem;
      margin-right: 0.3rem;
    }
  }

  // button {
  //   margin-top: 1.5rem;
  //   width: 100%;
  // }

  @media (max-width: 768px) {
    flex: none;
    width: 100%;
  }
}
