.operations {
  flex: 0 0 30%;
  padding: 2rem;
  background-color: var(--card-bg);
  box-shadow: 0 0.25rem 0.4rem -0.06rem rgba(0, 0, 0, 0.1),
    0 0.1rem 0.25rem -0.06rem rgba(0, 0, 0, 0.06);
  overflow-y: auto;

  form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 80vh;
  }

  @media (max-width: 768px) {
    flex: none;
    width: 100%;
  }
}
