.header {
  display: flex;
  align-items: center;

  span {
    p {
      display: inline;
      color: #07a2d2;
      font-size: 2.5rem;
      cursor: default;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      letter-spacing: 0.05rem;
      text-transform: capitalize;
      text-shadow: 0.06rem 0.06rem 0.1rem rgba(0, 0, 0, 0.1);
    }

    p:first-child {
      display: inline;
      color: #1860ab;
      &::before {
        content: "•";
        font-size: 2rem;
        margin-right: 0.3rem;
      }
    }
  }

  i {
    margin-left: auto;
    color: var(--primary-color);
    font-size: 2rem;
  }
}
