.loaderContainer {
  margin-left: 30%;
  height: 100vh;
  width: 70%;
  position: relative;
}

.results {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-left: 30%;
}

@media (max-width: 768px) {
  .loaderContainer {
    margin-left: unset;
    height: unset;
    width: unset;
    position: unset;
  }

  .results {
    flex: none;
    margin-left: unset;
  }
}
